[DEFAULT]
wallpaper path = /home/zypang/Pictures/temp_wallpapers
baseurl = https://wallhaven.cc/search
categories = 110
purity = 100
sorting = random
order = desc
width = 2560
height = 1440
page = 1
seed = Zypang
current wallpaper = -1
system = xfce

[ZYPANG]
wallpaper path = /home/zypang/Pictures/temp_wallpapers
page = 4
categories = 110
purity = 100
width = 1920
height = 1080
seed = ZypanG
current wallpaper = 3
system = gnome

